<% include ../common/header %>
<% include ../common/navbar %>
<div class="container col-sm-12">
	<div class="well">
		 <div class="panel panel-primary ">
			<div class="panel-heading text-center" style="text-align:left;"><h3>Add a new manager</h3></div>
			<div class="panel-body">

				 <form class="form-horizontal col-sm-8" role="form" id="addnewmgrdataFrm">

					<p  style="text-align:left;">Fill up the necessary details and press "Submit" to save the entry</p>
					<p  style="text-align:left;"><span class="label label-danger">*</span> marked fields are manadatory fields</p>

					<div class="form-group">
					  <label for="mgrType" class="control-label col-sm-3">Select manager type <span class="label label-danger">*</span></label>
					  <div class="col-sm-6">
						  <select class="form-control" id="mgrType" name="mgrType">
							<% mgrTypeList.forEach(function(mgrType) { %>
								<option value="<%= mgrType.code %>" ><%= mgrType.desc %></option>
							<% }); %>
						  </select>
					  </div>
					</div>
          <div class="form-group">
            <label for="empid" class="control-label col-sm-3" >Employee id<span class="label label-danger">*</span></label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="empid" name="empid" placeholder="Manager employee id">
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="control-label col-sm-3">Name<span class="label label-danger">*</span></label>
            <div class="col-sm-6">
            <input type="text" class="form-control" id="name" name="name" placeholder="Manager name">
          	</div>
          </div>
					<div class="form-group">
						<label for="notesId" class="control-label col-sm-3">Notes Id<span class="label label-danger">*</span></label>
						<div class="col-sm-6">
						<input type="text" class="form-control" id="notesId" name="notesId" placeholder="Notes Id" />
						</div>
					</div>
					<div class="form-group">
						<label for="intranetId" class="control-label col-sm-3">Intranet Id<span class="label label-danger">*</span></label>
						<div class="col-sm-6">
						<input type="text" class="form-control" id="intranetId" name="intranetId" placeholder="Intranet Id" />
						</div>
					</div>
          <div class="col-sm-offset-3 col-sm-6">
            <button type="button" class="btn btn-lg btn-primary" onclick="onSubmit();">Submit</button>
						<a href="/admin/home" class="btn  btn-lg btn-info" role="button">Cancel</a>
          </div>

					</form>
			</div>
		 </div>
		</div>
</div>

<% include ../common/trxndialog %>

<script>
function onSubmit()
{
	console.log("Submit pressed");
	//Going to make an ajax call

	$.post( "/admin/saveNewMgrData", $( "#addnewmgrdataFrm" ).serialize() )
  .done(function( data ) {
			console.log("Received response "+ data);
			if(data.status === 0 )
			{
				//Save is successful
				console.log("Transaction status : "+data.desc);

				$("#trxnModalTxt").text("Save successful");
				$("#trxnStatusModal").modal('show');
			}
			else {
				$("#trxnModalTxt").text(data.desc);
				$("#trxnStatusModal").modal('show');
			}
  }).fail(function(error){
		console.log("Error occured "+ error);
		$("#trxnModalTxt").text("Error in connecting server ");
		$("trxnStatusModal").modal('show');
	});


}
</script>
<% include ../common/footer %>
