<% include ../common/header %>
<% include ../common/navbar %>
<div class="container col-sm-12">
 <div class="well">
		<h1>Portfolio Web Administration Home</h1>
        <p>Perform administration task using the links given below ( ADMIN ROLE)</p>
		<div class="list-group">
		  <a href="/admin/loadAddNewRefData" class="list-group-item" >Add new reference data</a>
		  <a href="/admin/loadViewRefData" class="list-group-item">View/Downlaod reference data</a>
		  <a href="/admin/loadAddNewManager" class="list-group-item">Add a manager</a>
		  <a href="#" class="list-group-item">View/Modify Manager data</a>
		  <a href="/admin/loadAddNewUOM" class="list-group-item">Add a new UOM</a>
		  <a href="#" class="list-group-item">View/Modify UOM details</a>
		  <a href="#" class="list-group-item">Add new application user</a>
		</div>
  </div>
</div>
<% include ../common/footer %>
