<% include ../common/header %>

    <div class="container">
      <div class="row">
          <div class="col-sm-3" style="padding-top:5%;">

          </div>
      </div>
      <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6">
            <div class="panel panel-primary ">
              <div class="panel-heading text-center"><h2>Portfolio Web Login</h2></div>
              <div class="panel-body">
                <% if(errorMsg){%>

                  <div class="alert alert-danger" role="alert">
                    <strong><%=errorMsg%></strong>
                    </div>
                <% }%>
                <form class="form-horizontal"
                    role="form" method="post" action="/login/authenticate">

                    <div class="form-group">
                      <label for="uid" class="control-label col-sm-2" >User id</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="uid" name="uid">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="pwd" class="control-label col-sm-2">Password:</label>
                      <div class="col-sm-10">
                      <input type="password" class="form-control" id="pwd" name="pwd">
                    </div>
                    </div>
                    <div class="col-sm-offset-5 col-sm-10">
                      <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
    </div>
<% include ../common/footer %>
