<% include ../common/header %>
<% include ../common/navbar %>
<div class="container col-sm-12">
	<div class="well">
		<h1>Portfolio Web</h1>
        <p>User menu to view various reports </p>
      </div>
</div>	
<% include ../common/footer %>