<!-- Define any transaction status modal dialog to show the trxn status -->
<div class="modal fade" id="trxnStatusModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog  modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="trxnModalTitle" style="text-align: center;">Transaction status</h4>
      </div>
      <div class="modal-body" id="trxnModalTxt" style="text-align: center;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
